header {
    text-align: center;
}

.container {
    display: table;
    width: 100%;
}

#Inhaltsverzeichnis {
    list-style-type: none;
    padding: 5px;
    border: 1px solid black;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
}

.Inhaltsverzeichnis-Kategorie {
    font-weight: bolder;
    text-decoration: underline solid black;
}

.Inhaltsverzeichnis-Link {
    list-style-type: disc;
    list-style-position: inside;
}

.Inhaltsverzeichnis-Link a {
    color: inherit;
    text-decoration: inherit;
}

section {
    padding: 5px;
    border: 1px solid black;
    display: table-cell;
}
