body {
    background-color: lightgray;
}
/*a {
    text-decoration: none;
    color: black;
}*/



.container {
    display: grid;
    grid-template-columns: auto 1fr;
}



header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / span 2;
    border: 1px solid black;
}
header a {
    text-decoration: none;
    color: black;
}



nav {
    padding: 1em;
    border: 1px solid black;
}
nav a {
    text-decoration: none;
    color: black;
}
.main-nav {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
.Kategorie {
    text-decoration: underline;
    font-weight: bold;
}
.Link {
    list-style-type: disc;
}



main {
    padding: 1em;
    border: 1px solid black;
}



.gl1 {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 3px;
}
.gl1-1 {
    grid-column: 1 / 3;
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}
.gl1-2 {
    padding: 3px;
    border: 1px solid black;
}
.gl1-3 {
    padding: 3px;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    table-layout: auto;
}
td {
    text-align: left;
    width: auto;
}



img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}